// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

body.auth{
    height: 100vh;
    width: 100vw;
}

#nav-header{
    .router-link-active{
        font-weight: bold;
        background-color: white;
    }
}
#main-aside{
    width: 100%;
    .action{
        font-weight: bold;
        color: $cyan;
    }
}