// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css');

// Variables
@import 'variables';

#login{
    max-width: 100vw;
    min-height: 100vh;
}
#main-content{
    padding-top: 90px;
    max-height: 100vh;
    min-height: 100vh;
}